homeassistant:
  unit_system: metric
  time_zone: Europe/Berlin

  customize: !include customize.yaml

  packages: !include_dir_named packages/components/includes

media_player:
  - platform: kodi
    host: !secret kodi_static_ip

notify:
  - name: chrome_push
    platform: html5
    vapid_pub_key: !secret vapid_pub_key
    vapid_prv_key: !secret vapid_prv_key
    vapid_email: !secret vapid_email
  - name: hangouts
    platform: hangouts
    default_conversations:
      - id: !secret default_conversations

# Includes

input_boolean: !include input_boolean.yaml
script: !include_dir_merge_named scripts/
input_number: !include input_number.yaml
sensor: !include_dir_list sensor/
zone: !include zones.yaml
group: !include_dir_merge_named group/
light: !include_dir_list lights/
automation old: !include_dir_list automations/
automation: !include automations.yaml